{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb-typescript/base",
    "prettier/@typescript-eslint",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-plusplus": ["warn", { "allowForLoopAfterthoughts": true }],
    "no-underscore-dangle": "off",
    "no-console": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off"
    // "@typescript-eslint/naming-convention": [
    //   "warn",
    //   {
    //     "selector": "variable",
    //     "leadingUnderscore": "allow"
    //   }
    // ],
    // "variable-name": [true, "allow-leading-underscore"]
  }
}
