.student {
  height: inherit;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.student_visio {
  display: flex;
  height: 90vh;
  width: 100%;
}

.student_lateral_panel {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
  height: 100px;
  border-radius: 30px;
  margin: 10px;
}

.studentemojis_container {
  width: 100%;
  height: 100px;
  border-radius: 30px;
}

.student_emojis {
  width: inherit;
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.student_emojis {
  width: inherit;
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  gap: 20px;
  padding: 0 10px;
}

.student_emoji_button {
  margin: 7px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #00396a;
  border-bottom: 4px solid #001634;
  cursor: pointer;
  outline: none;
  padding: 3px;
}

.student_emoji_img {
  width: 100%;
  object-fit: contain;
}

.student_emoji_button:hover {
  opacity: 0.8;
}

.student_emoji_button--active {
  opacity: 0.8;
  border-bottom: none;
  border: 3px solid #fff;
  padding: 0;
}

.student_infos {
  display: flex;
  justify-content: space-around;
}
