body {
  background-color: rgb(245, 240, 234);
}

.teacher {
  height: inherit;
  display: flex;
}

.teacher_vertical_panel {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 20%;
  background-color: rgba(78, 80, 78, 0.3);
  background-color: rgba(78, 80, 78, 0.3);
}

.teacher_emojis_container {
  width: 100%;
  height: 100px;
  background-color: rgba(158, 158, 158, 0.3);
}

.teacher_emojis {
  width: inherit;
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.teacher_emoji_headband {
  display: flex;
  margin: 7px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.teacher_emoji_img {
  width: inherit;
  object-fit: contain;
  margin-right: 1em;
}
