body{
    background-color: blanchedalmond;

}

.student{
  height: inherit;
  display: flex;
}

.student_visio {
  width: 80%;
}

.student_lateral_panel {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  height: 100%;
  background-color:rgba(78, 80, 78, 0.3) ;
}

.student_emojis_container {
  width: 100%;
  height:100px;
  background-color:rgba(158, 158, 158, 0.3) ;
}

.student_emojis{
  width: inherit;
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.student_emoji_button{
  margin: 7px;
  width:40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor:pointer;
}

.student_emoji_img {
  width: inherit;
  object-fit: contain;
}